body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.icon-bar-socialmedia {
  position: fixed;
  top: 55%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 20px;
  z-index: 999;
}

.icon-bar-socialmedia a {
  display: block;
  text-align: center;
  padding: 2px;
  /* transition: all 0.3s ease;
  color: #fff;
  font-size: 12px; */
}

.social-media-straight-line {
  border: none;
  border-left: 1px solid #00b9cf;
  height: 50px;
  width: 1px;
}

@media only screen and (min-width: 768px) {
  .first-heading h1 {
    font-size: 55px;
  }
}

.vision {
  background: url("images/BeFore-our-vision.jpg") no-repeat center;
  height: 100vh;
}

.content h1 {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .content {
    max-width: 850px;
  }
  .content h1 {
    font-size: 55px;
  }
}

.know-more {
  padding: 5px 35px;
  color: #fff;
  background-color: #333;
  border: none;
}

.product_bg_img {
  background: url("images/BeFore-home-product-iFeelWell.jpg") no-repeat center;
  height: 90vh;
}

.footer-link li a,
.footer-sub-link li a {
  color: #fff;
  text-decoration: none;
}
.footer-sub-link {
  padding-left: 20px;
}
.blue-line {
  border: 2px solid #00b9cf;
}

/************** PRODUCT PAGE ******************/

.breadcrumb {
  background-color: #fff;
}

.breadcrumb li a {
  color: #c9bfce;
}

.breadcrumb li.active {
  color: #6c757d;
  font-weight: bold !important;
}

.product_btn {
  background-color: #63bde1;
  border: none;
  font-size: 16px;
  border-radius: 25px;
  padding: 5px 15px;
  color: #fff;
}
.privacy-policy {
  font-size: 13px;
}

/****************** whatsapp icon ***************/
#WAButton {
  position: fixed;
  bottom: 10px !important;
  left: 10px !important;
  width: 72px;
}
.floating-wpp-popup {
  left: 10px !important;
}
@media only screen and (max-device-width: 767px) {
  .text-right,
  .assesment,
  .training,
  .nourishment-planning,
  .chemical-analysis,
  .outcome,
  .breath-fuel {
    text-align: center !important;
  }
  .desktop-blue-line {
    display: none;
  }
  .footer-link {
    padding-left: 0px;
  }
  .footer-sub-link {
    padding-left: 5px;
  }
}

@media only screen and (min-device-width: 767px) {
  .mobile-blue-line {
    display: none;
  }
}


/**************** sign in FORM ************/


#logreg-forms{
  width:412px;
  margin:10vh auto;
  background-color:#f3f3f3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#logreg-forms form {
  width: 100%;
  max-width: 410px;
  padding: 15px;
  margin: auto;
}
#logreg-forms .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#logreg-forms .social-login{
  width:390px;
  margin:0 auto;
  margin-bottom: 14px;
}
#logreg-forms .social-btn{
  font-weight: 100;
  color:white;
  width:190px;
  font-size: 0.9rem;
}

#logreg-forms a{
  display: block;
  padding-top:10px;
  color:lightseagreen;
}

#logreg-form .lines{
  width:200px;
  border:1px solid red;
}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B; }

#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }

#logreg-forms .form-signup .social-btn{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}

.form-signup .social-login{
  width:210px !important;
  margin: 0 auto;
}

/* Mobile */

@media screen and (max-width:500px){
  #logreg-forms{
      width:300px;
  }
  
  #logreg-forms  .social-login{
      width:200px;
      margin:0 auto;
      margin-bottom: 10px;
  }
  #logreg-forms  .social-btn{
      font-size: 1.3rem;
      font-weight: 100;
      color:white;
      width:200px;
      height: 56px;
      
  }
  #logreg-forms .social-btn:nth-child(1){
      margin-bottom: 5px;
  }
  #logreg-forms .social-btn span{
      display: none;
  }
  #logreg-forms  .facebook-btn:after{
      content:'Facebook';
  }

  #logreg-forms  .google-btn:after{
      content:'Google+';
  }
  
}

.blue-btn {
  background-color: #00b9cf;
  border: none;
  padding: .5rem 8rem;
  font-weight: 500;
  font-size: 13px;
}
.buy-now-btn {
  background-color: #00b9cf;
  border: none;
  padding: 5px 38px;
  font-weight: 500;
  font-size: 13px;
}
